[Unit]
Description=Mount service for google drive
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount gdrive: %h/documents/cloud
ExecStop=/usr/bin/fusermount -uz %h/documents/cloud
Restart=on-abort

[Install]
WantedBy=default.target
