.config/alacritty/nord.yml

.config/mpv/watch_later/

.config/ncspot/userstate.cbor

.config/nvim/lua/packer_compiled.lua
.config/nvim/spell/

.config/zsh/.zcompdump
.config/zsh/plugins/

.config/neomutt/
.local/bin/dmenu_movie
.local/bin/statusbar/sb-mailbox
