.config/alacritty/nord.yml

.config/nvim/lua/packer_compiled.lua
.config/nvim/spell/

.config/zsh/.zcompdump
.config/zsh/.zsh_history
.config/zsh/plugins

.local/bin/fm6000

.config/emacs/straight
.config/emacs/elpa
.config/emacs/auto-save-list
