.config/alacritty/nord.yml

.config/mpv/watch_later/

.config/ncspot/userstate.cbor

.config/nvim/lua/packer_compiled.lua
.config/nvim/spell/

.config/zsh/.zcompdump
.config/zsh/plugins/

.local/bin/fm6000

.config/neomutt
.local/bin/dmenu_movie
.config/nvim/lua/ext
